<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Edit <%=store.name%>'s Info</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/stores">Stores Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/stores/<%=store._id%>?_method=PUT" method="post">
        <input type="text" name="storeName" value="<%=store.storeName%>"/><br/>
        <input type="text" name="Location" value="<%=store.Location%>"/><br/>
        <input type="submit" value="Update Store"/>
      </form>
    </main>
  </body>
</html>