<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Stores</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/stores/new">Create a new Store</a>
          </li>

        </ul>
      </nav>
         <h2>List of Stores</h2>
              <ul>
                  <% for(let i = 0; i < stores.length; i++){ %>
                      <li>
                          <a href="/stores/<%=stores[i]._id%>"><%=stores[i].storeName%></a>
                      </li>
                  <% } %>
              </ul>
    </header>
  </body>
</html>