<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Create a Store</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/stores">Stores Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/stores" method="post">
        Store Name:<input type="text" name="storeName" /><br/>
        Location:<input type="text" name="Location" /><br/>
        <input type="submit" value="Create Store"/>
      </form>
    </main>
  </body>
</html>