<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Users</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/users/new">Create a new User</a>
          </li>

        </ul>
      </nav>
         <h2>List of Users</h2>
              <ul>
                  <% for(let i = 0; i < users.length; i++){ %>
                      <li>
                          <a href="/users/<%=users[i]._id%>"><%=users[i].userName%></a>
                      </li>
                  <% } %>
              </ul>
    </header>
  </body>
</html>