<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>New User</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/stores">Users Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/users" method="post">
        User Name:<input type="text" name="userName" /><br/>
        Email:<input type="text" name="Email" /><br/> 
        <input type="submit" value="Create User"/>
      </form>
    </main>
  </body>
</html>