<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Show Page for <%=user.userName%></h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/users">User Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      
      <section>
          <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
              <input type="submit" value="Delete User"/>
          </form>
      </section>
      <section>
          <a href="/users/<%=user._id%>/edit">Edit User</a>
      </section>
    </main>
  </body>
</html>